<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %} Meu Chatbot {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        {% if 'user_id' not in session %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% else %}
        <a href="{{ url_for('chat_page') }}">Chat</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>